body{
    margin:0;
    height:100vh;
    background-color: black;
    color: white;
    overflow-x:hidden
}
.container{
    height:100%;
}

.container-fluid{
    margin:0;
    padding:0
}

i{
font-size:1.5em;
margin-left:20px;
}

.profile-pic{
    width:50px;
    height:50px;
    border-radius:50%;
    
}
.sidenav{
    border-right: 5px solid grey;
    height: 90vh;
    overflow-y: auto;
}
.person{
    width:100%;
    border-bottom: 5px solid grey;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10%;
    margin: auto;
    
}
.profile-image{
    width: 200px;
    height:200px;
    border-radius:50%;
    margin:auto;
}
.person-card{
    width:300px;
    border: 2px solid grey;
    border-radius:5px;
}
.person-card > * {
    width:100%;
}

.post{
    width:60%;
    margin:auto;
    border: 2px solid grey;
    border-radius: 5px;
    margin-top:10px;
    padding: 10px;
}
.header{
    display:flex;
    justify-content:center;
    margin:0;
}
.post-details{
    overflow-x:hidden;
}
.comment{
    border: 1px solid grey;
    padding:5px;
    width:50%;
    border-radius:5px;
    margin-top:10px;
}